html,
body {
  font-family: "Russo One", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  padding: 8px 20px;
  font-size: 1rem;
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
  margin-bottom: 10px;
}
button:hover {
  background-color: paleturquoise;
  color: black;
  opacity: 1;
}
/* background world map */
#background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  z-index: -1;
}
.shared-styles {
  background: rgba(0, 0, 0, 0.65);
  color: turquoise;
  border-radius: 5px;
}
.hidden {
  display: none !important;
}
.screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
  width: 90%;
  max-width: 450px;
  padding: 20px;
  text-align: center;
}
.game-title {
  font-size: 4rem;
  border: 8px solid turquoise;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-bottom: 0;
}
#intro-title {
  font-size: 2rem;
  margin: 0;
  text-align: center;
}
#container-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#intro-title {
  border-bottom: 4px solid turquoise;
  padding-bottom: 1%;
  display: inline-block;
  margin-top: 20px;
}
#player-input {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  background: white;
  color: black;
  text-align: center;
  width: 250px;
  height: 30px;
  outline: none;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#player-input:focus {
  box-shadow: 0 0 8px turquoise;
  transform: scale(1.03);
}
#container-instructions {
  border: 6px solid turquoise;
  padding: 5px;
  display: inline-block;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}
#instructions-ol {
  width: 350px;
  list-style-position: left;
  text-align: left;
  margin: 10px;
  margin-top: 8px;
  padding-left: 10px;
}
#instructions-ol li {
  margin-bottom: 8px;
}
#instructions-title {
  border-bottom: 4px solid turquoise;
  display: inline-block;
  margin-bottom: 0;
}
/* game screen */
#container-game {
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  /* for the emoji spacing above and below lines */
  line-height: 1;
}
#game-lives {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.5rem, 2vw, 3rem);
  gap: 1vw;
  margin-bottom: 0;
}
#game-score {
  font-size: clamp(1rem, 2vw, 2rem);
  color: black;
  font-weight: 700;
  margin: 1vh;
}
.continent-box {
  position: absolute;
  width: 15vw;
  height: 15vw;
  background-color: rgba(0, 255, 255, 0);
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.continent-name {
  position: absolute;
  color: black;
  font-weight: bold;
  font-size: clamp(0.5rem, 1vw, 1.5rem);
  text-align: center;
  pointer-events: none; /* this stops the continent name from blocking the flag drops on the container*/
  transition: font-size 0.3s ease;
}
.continent-box.highlighted .continent-name {
  font-size: clamp(1rem, 2vw, 3rem);
}
.continent-name.grow {
  font-size: clamp(1rem, 2vw, 3rem);
  transition: font-size 0.3 ease;
}
/* .continent-box:hover .continent-name {
  font-size: clamp(1rem, 2vw, 3rem);
} */
#popup-answer {
  position: fixed;
  bottom: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  pointer-events: none;
}
.popup-feedback {
  display: block;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  animation: fade 3.5s ease-out forwards;
}
.popup-feedback.correct {
  border: 2px solid lime;
  color: lime;
}
.popup-feedback.incorrect {
  border: 2px solid red;
  color: red;
}
@keyframes fade {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
#flag-row-styling {
  background-color: rgba(0, 0, 0, 0.65);
}
#flag-row {
  position: fixed;
  bottom: 1vh;
  width: clamp(300px, 20vw, 600px);
  height: clamp(80px, 12vh, 150px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: 4px solid turquoise;
  border-radius: 20px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.65);
}
.flag-emoji {
  font-size: clamp(
    2rem,
    /*min*/ 7vw,
    /*preferred*/ 5rem /*max*/
  ); /* makes it responsive for smaller displays */
  cursor: pointer;
  user-select: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
/* game over screen */
#gg-ending {
  font-size: 3rem;
  margin: 0;
  text-decoration: underline;
  color: turquoise;
}
#player-score {
  font-size: 1.5rem;
  margin: 0;
  border-bottom: 3px solid turquoise;
}
#container-highscores {
  border: 6px solid turquoise;
  width: 370px;
}
#end-game-high-scores {
  font-size: 2rem;
  margin-bottom: 5px;
  border-bottom: 4px solid turquoise;
  display: inline-block;
}
#end-game-high-scores-list {
  list-style: none;
  padding-left: 0;
  font-size: 1.25rem;
  color: white;
}
